body {
  background:#ede8f1;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  color: #555;
}
p.contact {
  font-size: 20px;
}
p.stream {
  font-size: 22px;
  padding-bottom: 10px;
  max-width: 75%;
}
@media screen and (min-height: 600px) {
p.logo {
  margin-top: 1em;
}
}
.footer {
      position: relative;
      bottom: 0px;
      float: left;
      height: 35px;
      margin: 0px 50px 0px 0px;
      color: #777;
      text-align: right;
      padding: 10px 20px;
}
.social {

}
.social img{
    width: 50px;
    padding-left: 10px;
}

a, a:hover, a:active, a:visited, strong {
  color: #000;
}
._2tga, ._49ve {
    background: #a155af !important;
    border: 1px solid #9529a9 !important;
  }
