body {
  background:#ede8f1;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  color: #555;
  margin:0 auto;
}
p.contact {
  font-size: 20px;
}
p.stream {
  font-size: 22px;
  padding-bottom: 10px;
  max-width: 75%;
}
@media only screen and (max-width: 1050px) {
p.stream {
  font-size: 22px;
  padding-bottom: 10px;
  max-width: 100%;
}
.fb-like {
  padding: 5em;
}
.logo {
  display: inline;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}
.social img{
    width: 50px;
    padding-left: 10px;
}
}
p.logo {
  margin-top: 1em;
  width: 25em;
}
.social img{
    width: 5em;
    padding-left: 5em;
}
.footer {
      position: relative;
      bottom: 0px;
      float: left;
      height: 35px;
      margin: 0px 50px 0px 0px;
      color: #777;
      text-align: right;
      padding: 10px 20px;
}
.social {

}


a, a:hover, a:active, a:visited, strong {
  color: #000;
}
._2tga, ._49ve {
    background: #a155af !important;
    border: 1px solid #9529a9 !important;
  }
